<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sagisu.vault">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:supportsRtl="true">
        <!--android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_app_icon"

        tools:replace="android:icon">-->
        <activity
            android:name=".ui.trade.watchlists.TokenWatchlistsActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet.NoActionBar">
        </activity>
        <activity
            android:name=".ui.trade.send.SendActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <activity
            android:name=".ui.ReceiveCryptoActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <activity
            android:name=".ui.BuyCoinsActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <activity
            android:name=".ui.storyteller.StoryTellerActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <activity android:name=".ui.DocumentVerificationActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <activity android:name=".ui.kyc.VerifyIdIntroActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <activity android:name=".ui.kyc.VerifyIdSuccessActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <activity
            android:name=".ui.ContactTransferActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet.Chat" />
        <activity android:name=".TransactionDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <activity android:name=".ui.TransactionActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <activity android:name=".ui.transactions.TransactionHistoryActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <activity android:name=".ui.FundWalletActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <activity android:name=".ui.ContactsActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <activity android:name=".ui.TransferToAccountActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <activity
            android:name=".ui.VaultMainActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

            <intent-filter android:label="Sagisu stories">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- adb shell am start -W -a android.intent.action.VIEW -d "https://storytellersampleapp/[PAGE_ID]" -->
                <data
                    android:host="sagisu.usestoryteller.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.VaultLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet.NoActionBar" />
        <activity
            android:name=".ui.splashscreen.VaultSplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet.NoActionBar">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    tools:node="replace" />
            </intent-filter>-->
        </activity>
        <activity android:name=".ui.PlaidLinkActivity"
            android:exported="true"
            android:theme="@style/Theme.SagisuWallet"/>
        <!-- Jumio -->
       <!-- <activity
            android:exported="true"
            android:name="com.jumio.nv.NetverifyActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.Netverify" />-->
        <!--enable for jumio-->

        <!--<service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>-->

        <meta-data
            android:exported="true"
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>